.btn-outline-primary,.btn-primary,.form-control{
    border-color:  $themeColor !important;
    &:focus{
        box-shadow : 0 0 0 0.1rem  $themeColor !important;
    }
}
.btn-outline-primary{
    color:  $themeColor !important;
    &:hover{
        color: #fff !important;
        background-color:  $themeColor !important;
    }
    &.active {
        background-color:  $themeColor !important;
    }
}
.btn-primary{
    background-color:  $themeColor !important;
    &:hover{
        background-color:  $themeColor !important;
    }
}

