<div class="pan-layout-header">
  <div class="pan-layout-header__content">
    <h5 class="my-0 mr-md-auto font-weight-normal">CE Systems</h5>
    <div class="pan-layout-header__avatar">
      <span>{{ site.title | default: site.github_username }}</span>
      <!-- <img src="https://secure.gravatar.com/avatar/?d=mm&r=g&s=40" alt=""> -->
      <a target="_blank" href="https://github.com/cmxStars">
        <img src="../assets/icons/user2.jpg" alt="user profile"  style="cursor: pointer;">
      </a>
      <a class="btn btn-outline-primary" href="/login.html">Sign up</a>
    </div>
  </div>
</div>